global:
  scrape_interval:     5s
  evaluation_interval: 10s

scrape_configs:
  - job_name: space-engineers
    relabel_configs:
      - source_labels: ['__address__']
        separator:     '.'
        regex:         '(.*-\w*.)\.(.*)'
        target_label:  'instance'
        replacement:   '${1}'

    static_configs:
      - targets:
          - localhost:9122
        labels:
          group: "game-servers"
